@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FigtreeExtraBold";
  src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FigtreeMedium";
  src: url("assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
  --main-font: "Figtree", "FigtreeExtraBold", "FigtreeMedium";
}

body {
  background-color: var(--yellow);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
}

article {
  background-color: var(--white);
  border: solid var(--gray950);
  border-width: 1.5px;
  /* border-width: 1.5px 0.5rem 0.5rem 1.5px; */
  box-shadow: 5px 5px 0 0 black;
  border-radius: 20px;
  width: 320px;
  height: 450px;
}

.thumbnail {
  width: 300px;
  height: 180px;
  margin: 16px 10px;
  border-radius: 10px;
}

p {
  margin-left: 10px;
}

.tags {
  background-color: var(--yellow);
  width: 80px;
  height: 20px;
  text-align: center;
  padding-top: 3px;
  border-radius: 3px;
  font-family: "FigtreeExtraBold";
}

.tags:hover {
  background-color: var(--gray500);
  color: var(--yellow);
}

.postedDate {
  font-family: "Figtree";
  color: var(--gray950);
  font-weight: 600;
  font-size: 12px;
  margin-top: 15px;
}

h1 {
  font-family: "FigtreeExtraBold";
  margin-left: 10px;
  margin-top: 15px;
}

.contentSummary {
  font-family: "Figtree";
  color: var(--gray500);
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.author-profile {
  text-decoration: none;
  display: inline-flex;
  height: 50px;
  margin-left: 10px;
  margin-top: 30px;
  align-items: center;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.author {
  font-family: "FigtreeExtraBold";
  font-size: 15px;
  text-decoration: none;
  color: black;
  line-height: 1;
  margin-left: 8px;
}
